Lista_1_resultados_calculos.ipynb
Aula_1-1_x_Redes_Neurais_Apresentacao.ipynb
Engenharia_Quimica_Python.ipynb
indice_curso.txt
CET_1012_Prova_P1_2025_2.ipynb
Figuras_para_notebook.pptx
links.txt
bloco_nota_links_AI.txt
ORIENTACOES_LATES
Links estudo GPT
https://chatgpt.com/share/68d7dc5c-83d0-800f-b4fc-6c71984c305c
CET990_volume_5_tanque_eliptico.ipynb

%--------------------------------------------------
%      Disciplina CET990 - Arquivos ocultos
%--------------------------------------------------

Bloco_Notas_CET990.txt
CET990_volume_tanque_inclinado_calculos.ipynb
CET990_volume_4_qualquer_volume.ipynb
%--------------------------------------------------

%--------------------------------------------------
%      Disciplina CET1011 - Arquivos ocultos
%--------------------------------------------------
bloco_notas_CET1011.txt


%--------------------------------------------------
%   RELATÓRIOS DE IC
%---------------------------------------------------
RELATORIOS_IC
%---------------------------------------------------


%--------------------------------------------------
%   Disciplina CET1012
%---------------------------------------------------
Aula_18_CET1012_Separacao_componentes_petroleo.ipynb
%---------------------------------------------------

%--------------------------------------------------
%   Disciplina CET1011
%---------------------------------------------------
CET1011_Cálculo_do_volume_hidrociclone.ipynb
CET1011_Principio_de_cavalieri_volume_cubo.ipynb
CET1011_Prova_P3_gabarito_matemático.ipynb
%---------------------------------------------------